<!-- foodapp/templates/foodapp/menu_item_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant.name }} Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">{{ restaurant.name }} Menu</h1>
        <ul class="list-group">
            {% for item in menu_items %}
                <li class="list-group-item">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.description }}</p>
                    <p>Price: ${{ item.price }}</p>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'restaurant_list' %}" class="btn btn-primary mt-3">Back to Restaurant List</a>
    </div>
</body>
</html>
