body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Enables scrolling */
}

.main-background {
    background: url('/static/images/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 40px 20px;
    overflow-y: auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.03);
}
