body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Enables scrolling */
}

.main-background {
    background: url('/static/images/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 40px 20px;
    overflow-y: auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.03);
}

.navbar-brand {
    font-size: 2.5rem; /* Adjust this value to your preference */
}

/* Transparent navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(10px); /* Optional: adds a blur effect to the background */
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffcc00;
}